2 term/ЛР5/xml-schema2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="WorkplaceType">
    <xs:sequence>
      <xs:element name="company" type="xs:string"/>
      <xs:element name="startdate" type="xs:date"/>
      <xs:element name="enddate" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="id" type="xs:integer"/>
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
      <xs:element name="birthdate" type="xs:date"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="workplace" type="WorkplaceType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="socialnetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" type="PersonType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="company" type="xsd:string"/>
  <xsd:element name="startdate" type="xsd:date"/>
  <xsd:element name="enddate" type="xsd:date"/>

  <xsd:complexType name="workplaceType">
    <xsd:sequence>
      <xsd:element ref="company"/>
      <xsd:element ref="startdate"/>
      <xsd:element ref="enddate"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="id" type="xsd:integer"/>
  <xsd:element name="firstname" type="xsd:string"/>
  <xsd:element name="lastname" type="xsd:string"/>
  <xsd:element name="birthdate" type="xsd:date"/>
  <xsd:element name="address" type="xsd:string"/>

  <xsd:complexType name="personType">
    <xsd:sequence>
      <xsd:element ref="id"/>
      <xsd:element ref="firstname"/>
      <xsd:element ref="lastname"/>
      <xsd:element ref="birthdate"/>
      <xsd:element ref="address"/>
      <xsd:element name="workplace" type="workplaceType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="person" type="personType"/>

  <xsd:element name="socialnetwork">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="person" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>

